@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Source+Code+Pro&display=swap');

:root {
  font: 16px / 1 sans-serif;
}
html {
  height: 100%;
}
body {
  margin: 1rem;
  min-height: 100%;
  background: conic-gradient(
    from 45deg,
    #020681 0,
    #020681 90deg,
    #000337 90deg,
    #000337 180deg,
    #0818ff 180deg,
    #0818ff 270deg,
    #0f9bfe 270deg,
    #0f9bfe 360deg
  );
  background-size: 1em 1em;
  height: 100vh;
}
header {
  color: blue;
  font-size: 1.25rem;
  font-family: 'MedievalSharp', cursive;
  display: flex;
  justify-content: center;
  text-shadow: orange 0.15rem 0.15rem;
  position: sticky;
  top: 0;
  padding-right: 0rem;
  border-radius: 0.85rem;
  background-color: white;
  box-shadow: orange 0.5rem 0.5rem;
  border: solid black;
}
.headinstruct {
  text-decoration: underline blue;
}
.title {
  text-decoration: underline;
}
section {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.instructions {
  text-align: center;
  color: blue;
  background-color: white;
  border-radius: 0.85rem;
  box-shadow: orange 0.5rem 0.5rem;
  font-size: 1.25rem;
  font-family: 'Source Code Pro', monospace;
  margin-left: 3rem;
  margin-right: 3rem;
  text-shadow: orange 0.1rem 0.1rem;
  border: solid black;
}
li {
  list-style: none;
  margin: 1.25rem;
  font-family: 'MedievalSharp', cursive;
  color: blue;
  text-shadow: orange 0.1rem 0.1rem;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
}
p {
  text-align: center;
  margin: 2rem;
}
ul {
  background-color: white;
  border-radius: 0.85rem 0.85rem;
  box-shadow: orange 0.1rem 0.1rem;
  border: solid black;
  text-align: center;
  justify-content: center;
}

.bitcoin {
  color: orange;
  text-decoration: none;
  margin-top: 1.5rem;
  text-shadow: white 0.1rem 0.1rem;
}
.ethereum {
  color: orange;
  text-decoration: none;
  margin-top: 1.5rem;
  text-shadow: white 0.1rem 0.1rem;
}
